:root {
    --main-color: #ff2c1f;
    --text-color: #020307;
    --bg-color: #fff;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.film-card {
    flex: 0 1 calc(25% - 20px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: var(--text-color);
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .film-card {
        flex: 0 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .film-card {
        flex: 0 1 100%;
    }
}

.film-card {
    position: relative;
    display: inline-block;
}

.film-card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.film-info {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    font-size: 0.9em;
    font-weight: bold;
    pointer-events: none;
}

.film-rating, .film-year {
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
}

.film-rating {
    background-color: rgba(255, 215, 0, 0.9);
    color: black;
}

.film-year {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}


.film-genre {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 5px 8px;
    border-radius: 4px;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Жанр появляется при наведении */
.film-card:hover .film-genre {
    opacity: 1;
    visibility: visible;
}

/* Нижняя информация */
.film-card-footer {
    width: 100%;
    text-align: center;
    margin-top: auto;
    padding-top: 10px;
}

/* Название фильма */
.film-card-footer h2 {
    font-size: 1.3em;
    color: var(--bg-color);
    margin-bottom: 5px;
    text-align: center;
}

/* Кнопка "Перейти к просмотру" */
.film-watch p {
    color: var(--bg-color);
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    transition: background 0.2s;
}

.film-watch p:hover {
    background-color: darkred;
}

/* Анимация наведения */
.film-card:hover {
    transform: scale(1.05);
}





