:root {
    --main-color: #ff2c1f;
    --text-color: #020307;
    --bg-color: #fff;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.film-card {
    flex: 0 1 calc(25% - 20px); /* Карточка занимает 25% ширины, с учетом отступов */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: var(--text-color);
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 10px;
    overflow: hidden;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* Мобильная версия */
@media (max-width: 768px) {
    .film-card {
        flex: 0 1 calc(50% - 20px); /* На мобильных устройствах карточки будут занимать 50% ширины */
    }
}

/* Для маленьких экранов (например, телефоны в портретной ориентации) */
@media (max-width: 480px) {
    .film-card {
        flex: 0 1 100%; /* На очень маленьких экранах карточки будут занимать 100% ширины */
    }
}

.film-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: var(--bg-color);
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.film-card img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.film-card:hover {
    transform: scale(1.15);
}

.film-card p {
    font-size: 0.9em;
    margin: 5px 0;
    color: var(--bg-color);
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0; /* Начальное состояние - невидимый */
    visibility: hidden; /* Элемент не видим */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Плавный переход */
}

.film-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.film-card-footer p {
    margin: 0;
    color: var(--bg-color);
    cursor: pointer; /* Указатель для ссылки */
}

.favorite-icon {
    font-size: 1.5em; /* Размер иконки */
    cursor: pointer; /* Указатель для иконки */
}

.film-card:hover p {
    background-color: rgb(110, 110, 110);
    opacity: 1; /* Появляется при наведении */
    visibility: visible; /* Делаем элемент видимым */
}




