
.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.filmMainInfo{
    flex: 0 1 calc(25% - 20px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: var(--text-color);
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    position: relative;
    margin-top: 100px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    display: inline-block;
}
.film_Info{
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    font-weight: bold;
    pointer-events: none;
}

.film-rating, .film-year {
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
}
.film-card-image{
    width: 300px;
    height: 400px;
}
.film-rating {
    background-color: rgba(255, 215, 0, 0.9);
    color: black;
}

.film-year {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
.backdrops {
    margin-top: 20px;
}

.backdrops h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.backdrops-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.backdrop-image {
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.backdrop-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}




