
:root{
    --main-color: #ff2c1f;
    --text-color:#020307;
    --bg-color: #fff;
}

.first-swiper {
    margin-top: 10px;
    width: 100%;
    overflow: hidden; /* Скрыть лишние части слайдов */
}

.first-swiper .swiper-slide {
    display: flex;
    justify-content: center; /* Центрирование содержимого */
    align-items: center; /* Центрирование содержимого */
    border-radius: 15px; /* Закругление углов слайдов */
    overflow: hidden; /* Скрыть лишние части слайдов */
    width: calc(20% - 10px);
    margin: 0 5px; /* Отступы между слайдами */
    transition: transform 0.4s;
}

.first-swiper .swiper-image {
    width: 100%;
    height: auto;
    border-radius: 15px; /* Закругление углов изображений */
    transition: transform 0.4s; /* Плавный переход при наведении */
}

.first-swiper .swiper-slide:hover {
    border-radius: 25px;
    transform: scale(1.05); /* Увеличение слайда при наведении */
}

.first-swiper .swiper-slide:hover .swiper-image {
    transform: scale(1.1); /* Увеличение изображения при наведении */
}
.first-swiper .swiper-button-next,
.first-swiper .swiper-button-prev {
    opacity: 0; /* Скрываем кнопки */
    transition: opacity 0.3s; /* Плавный переход */
}

.first-swiper:hover .swiper-button-next,
.first-swiper:hover .swiper-button-prev {
    opacity: 1; /* Показываем кнопки при наведении */
}






.Janrs{
    align-items: center;
    display: flex;
    color: var(--bg-color);
    margin-top: 40px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: 700;
}
.Janrs:hover .WatchMoresImg {
    display: flex; /* или другой способ отображения, если нужно */
}
.WatchMoresImg{
    display: none;
    margin-left: 15px;
    margin-top: 7px;
    width: 25px;
    height: 20px;
    color: var(--bg-color);
}